<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
  <!-- Sesli sohbette işlemci ve Wi-Fi uykuya geçmesin (VoiceForegroundService) -->
  <uses-permission android:name="android.permission.WAKE_LOCK" />

  <application>
    <service
        android:name="expo.modules.voiceservice.VoiceForegroundService"
        android:exported="false"
        android:foregroundServiceType="microphone|mediaPlayback" />
  </application>
</manifest>
